* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0044cc;
}

form {
    display: flex;
    flex-direction: column; /* Alinha os itens em uma coluna */
    width: 100%;
    max-width: 400px; /* Limita a largura máxima */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"], 
form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px; /* Adiciona um espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%; /* Faz os campos ocuparem toda a largura do formulário */
}

form input[type="submit"] {
    background-color: #0044cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0033aa; /* Altera a cor ao passar o mouse */
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
